version: 2
jobs:
  build:
    working_directory: /go/src/github.com/Financial-Times/public-suggestions-api
    docker:
      - image: golang:1.10
        environment:
          GOPATH: /go
          CIRCLE_TEST_REPORTS: /tmp/test-results
          CIRCLE_COVERAGE_REPORT: /tmp/coverage-results
    steps:
      - checkout
      - run:
          name: External Dependencies
          command: |
            go get -u github.com/mattn/goveralls
            go get -u github.com/jstemmer/go-junit-report
            curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
            go get -u github.com/haya14busa/goverage
      - run:
          name: Test Results
          command: |
            mkdir -p ${CIRCLE_TEST_REPORTS}
            mkdir -p ${CIRCLE_COVERAGE_REPORT}
      - run:
          name: Download vendored dependancies
          command: dep ensure -v -vendor-only
      - run:
          name: Go Build
          command: go build -v
      - run:
          name: Run Tests
          command: |
            go test -race -v ./... | /go/bin/go-junit-report > ${CIRCLE_TEST_REPORTS}/main.xml
            goverage -covermode=atomic -race -coverprofile=${CIRCLE_COVERAGE_REPORT}/coverage.out ./...
      - run:
          name: Upload Coverage
          command: /go/bin/goveralls -coverprofile=${CIRCLE_COVERAGE_REPORT}/coverage.out -service=circle-ci -repotoken=$COVERALLS_TOKEN
      - store_test_results:
          path: /tmp/test-results
  dockerfile:
    working_directory: /public-suggestions-api
    docker:
      - image: docker:17.09.0-git
    steps:
      - checkout
      - setup_docker_engine
      - run:
          name: Build Dockerfile
          command: docker build -t test/public-suggestions-api .
      - run:
          name: Run and Test Container
          command: |
            export CONTAINER_HASH=$(docker run -d -p 8080:8080 test/public-suggestions-api)
            docker exec ${CONTAINER_HASH} apk update
            docker exec ${CONTAINER_HASH} apk add curl
            docker exec ${CONTAINER_HASH} curl --retry-connrefused --retry 10 --retry-delay 3 http://localhost:8080/__health
            docker kill ${CONTAINER_HASH}
  dredd:
    working_directory: /go/src/github.com/Financial-Times/public-suggestions-api
    docker:
      - image: bankrs/golang-dredd:go1.8.3-dredd4.4.0
        environment:
          GOPATH: /go
          FALCON_SUGGESTION_API_BASE_URL: http://localhost:9000
          AUTHORS_SUGGESTION_API_BASE_URL: http://localhost:9000
          ONTOTEXT_SUGGESTION_API_BASE_URL: http://localhost:9000
          CONCEPT_CONCORDANCES_API_BASE_URL: http://localhost:9000
      - image: peteclarkft/ersatz:stable
    steps:
      - checkout
      - run:
          name: External Dependencies
          command: |
            curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
      - run:
          name: Download vendored dependancies
          command: dep ensure -v -vendor-only
      - run:
          name: Go Build
          command: go build -v
      - run:
          name: Dredd API Testing
          command: dredd

workflows:
  version: 2
  test-and-build-docker:
    jobs:
      - build
      - dredd
      - dockerfile:
          requires:
            - build
